<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BetaMart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <%- include('_navbar') %>
        <div class="container">


            <h5>
                <%= isEdit ? "Update" : "Add" %> Employee
            </h5>


            <form action="<%= action %>" method="post">
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label"> First Name</label>
                        <input type="text" class="form-control" name="firstName" value="<%= dataEmployee.firstName %>">
                    </div>
                    <div class="col mb-3">
                        <label class="form-label"> Last Name</label>
                        <input type="text" class="form-control" name="lastName" value="<%= dataEmployee.lastName %>">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Education</label>
                    <select class="form-select" name="education">
                        <!-- <option value="--Select--">--Select--</option> -->
                        <% ['SMA','S1','S2','S3'].forEach((item)=>{ %>
                            <option value="<%= item %>" <%=dataEmployee.education===item ? "selected" : "" %>>
                                <%=item %>
                            </option>

                            <%})%>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" name="dateOfBirth"
                        value="<%= dataEmployee.formateDateyyymmdd %>">
                </div>

                <div style="margin: 10px 10px;" class="mb-3">
                    <label class="form-check-label">
                        Position :
                    </label>
                    <% ["Staff", "Supervisor" , "Manager" , "CEO" ].forEach((item)=>{%>

                        <div class="form-check" style="display: inline-block ">
                            <label class="form-check-label" for="position">
                            </label>
                            <input class="form-check-input" type="radio" name="position" id="position"
                                value="<%= item %>" <%=dataEmployee.position===item ? "checked" : "" %> >
                            <%= item %>
                        </div>
                        <% }) %>

                </div>
                <div class="mb-3">
                    <label class="form-label"> Salary</label>
                    <input type="number" class="form-control" name="salary" value="<%= dataEmployee.salary %>">
                </div>

                <button type="submit" class="btn btn-info">
                    <%= isEdit ? "Update" : "Add" %>
                </button>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>